name: Keep Alive
on:
  schedule:
    - cron: '*/15 * * * *' # Runs every 15 minutes
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call API
        run: curl -I https://hanyfokvan-api.onrender.com/healthz